.container-carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel {
    position: relative;
    max-width: 80%;
    overflow: hidden;
}

#banner-section {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

#banner-section h2 {
    background-color: var(--secondary-color);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2em;
}

#banner-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
}

.banner {
    min-width: 100%;
    height: 300px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #333;
}

.arrows {
    position: absolute; 
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrows button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.arrows button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .banner {
        height: 200px;
    }
}

.banner-item {
    background-color: var(--secondary-color);
    width: 300px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.banner-item img {
    width: 100%;
    height: auto;
}

#most-sold,
#recent-trips {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

#most-sold li,
#recent-trips li {
    width: 200px;
    border: 1px solid var(--text-color);
    padding: 15px;
    text-align: center;
}

#most-sold li img,
#recent-trips li img {
    width: 100%;
    height: auto;
}

#magazine {
    text-align: center;
}

#magazine img {
    width: 200px;
    height: auto;
}
