*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: b;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

body {
    background-image: url('https://i.postimg.cc/3rG9VX10/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
