.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--secondary-color);
    width: 100%;
    height: 16%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container h1 {
    margin: 0;
    font-size: 2.8em;
}

.nav-container h1 a {
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
}


.nav-menu {
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    font-size: 2em;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-color);
}

.currency-change {
    font-size: 1em;
    background-color: var(--text-color);
    color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.currency-container li {
    list-style: none;
}

.nav-link.dropdown-toggle::after {
    content: '\25BC';
    font-size: 0.6em;
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: var(--primary-color);
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: var(--hover-color);
}

.show {
    display: grid;
}

nav ul li:hover .dropdown-menu {
    display: grid;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: var(--text-color);
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--secondary-color);
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    .menu-toggle {
        display: flex; 
    }

    .currency-change {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1290px) {
    .nav-container {
        height: 80px;
    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 1.1em;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 40px 20px;
    text-align: center;
}

.footer-info {
    flex: 1;
}

.footer-title {
    margin: 0;
    font-size: 2em;
}

.footer-contact {
    margin: 20px 0;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social a {
    color: var(--text-color);
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: var(--hover-text-color);
}

.contact-form-container {
    flex: 1;
    margin-left: 40px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
}

.contact-form-container h2 {
    margin-bottom: 15px;
    color: var(--text-color);
}

.contact-form-container input,
.contact-form-container textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--text-color-white);
    color: var(--text-color); 
}

.contact-form-container button {
    padding: 10px;
    background-color: var(--hover-color);
    color: var(--text-color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form-container button:hover {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--text-color-white);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.section p {
    font-size: 1.8em;
    line-height: 1.5;
    color: var(--text-color-white);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    max-width: 80%;
    margin: 0 auto;
}