.button-container {
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    margin-top: 10px; /* Espaciado entre el texto y el botón */
}

.btn-center {
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: var(--primary); /* Color del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Transición para el hover */
    text-decoration: none; /* Quitar subrayado del enlace */
    text-align: center; /* Centrar el texto en el botón */
}

.btn-center:hover {
    background-color: var(--dark); /* Color del botón al pasar el mouse */
}
